latex/lecture-notes.aux
latex/lecture-notes.bbl
latex/lecture-notes.blg
latex/lecture-notes.bcf
latex/lecture-notes.log
latex/lecture-notes.toc
latex/lecture-notes.run.xml
latex/lecture-notes.synctex.gz
